@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 40px red; 
}
body {
    background-color: #f4f7f8;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    background-color: #f1c40f;
    color: #282936;
    width: 100vw;
    height: 5.5rem;
    box-shadow: 0px 10px 20px rgb(248, 247, 247);
}
.heading h1{
    margin-left: 2rem;
    font-weight: 400;
    line-height: 5.8rem;
}
.add:active{
    transform: scale(0.98);
}
.btn-div{
    position: fixed;
    right: 1rem;
    top: 7rem;
    border: none;
    padding: 0.5rem 1rem; 
    border-radius: 3px;
    cursor: pointer;
}
button{
    margin: 0;
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 0;
    vertical-align: center;
    background: transparent;
}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    background: #f1c12e;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    height: 3rem;
    margin: 0;
    width: 3rem;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    background: #fff;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
button.learn-more .circle .icon.arrow{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    background: none;
    width: 1.125rem;
    height: 0.125rem;
    left: 0.625rem;
}
button.learn-more .circle .icon.arrow::before {
position: absolute;
    content: "";
    top: -0.25rem;
    transform: rotate(45deg); 
    border-top: 0.125 rem #fff;
    border-right: 0.125 rem #fff;
    width: 0.625rem;
    height: 0.625rem;
    right: 0.625rem; 
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    line-height: 1.6;
    color: #282936;
    padding: 0.76rem 0;
    position: absolute;
    text-align: center;
    margin: 0 0 0 1.85rem;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow{
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}
.note{
    width: 400px;
    height: 200px;
    margin-top: 7rem;
    margin: 25px 20px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.note .operation{
    display: flex;
    justify-content: flex-end;
    /* position: static; */
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.note .operation button{
    background-color: none;
    border: 11px green;

}
.note textarea{
    outline: none;
    border: none;
    width: 89.65%;
    height: 300px;
    padding: 20px;
    font-size: 1.2rem;
}
.fa-trash-alt,
.fa-edit{
    color: #fff;
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 50%;
}
.fa-trash-alt{
    background-color: #e74c3c;
}
.fa-edit:hover{
    background-color: #fff;
    color: #27ae60;
    filter: drop-shadow(0px 10px 8px rgb(219, 218, 218));

}
.fa-trash-alt:hover{
    background-color: #fff;
    color: #e74c3c;
    filter: drop-shadow(0 10px 8px rgb(219, 218, 218));
}
.main{
    padding: 10px;
}
.hidden{
    display: none;
}